<app-header></app-header>

<app-feature-card 
	title="New Haven" 
	subtitle="Wilderness Adventures" 
	content="With summer arriving you can expect the best time to be had in the wilderness.
					 Get in tune with nature with this amazing deal that frees your soul.
					 A peaceful and refreshing experience unlike any other.
					 Choose a weekend away or even a longer stay until your hearts content.
					 Morning mist, silky streams, nestling sounds or a mountain hike."
	image="https://i.picsum.photos/id/10/2500/1667.jpg?hmac=J04WWC_ebchx3WwzbM-Z4_KC_LeLBWr5LZMaAkWkF68">
</app-feature-card>

<div class="grid-list-div">
<mat-grid-list cols="3" rowHeight="2:1">
	<mat-grid-tile><img mat-card-image
			src="https://i.picsum.photos/id/1011/5472/3648.jpg?hmac=Koo9845x2akkVzVFX3xxAc9BCkeGYA9VRVfLE4f0Zzk"
			alt="Photo of a Shiba Inu"></mat-grid-tile>
	<mat-grid-tile><img mat-card-image
			src="https://i.picsum.photos/id/1012/3973/2639.jpg?hmac=s2eybz51lnKy2ZHkE2wsgc6S81fVD1W2NKYOSh8bzDc"
			alt="Photo of a Shiba Inu"></mat-grid-tile>
	<mat-grid-tile><img mat-card-image
			src="https://i.picsum.photos/id/1013/4256/2832.jpg?hmac=UmYgZfqY_sNtHdug0Gd73bHFyf1VvzFWzPXSr5VTnDA"
			alt="Photo of a Shiba Inu"></mat-grid-tile>
</mat-grid-list>
</div>

<mat-card class="card-hot">
	<mat-card-header class="card-hot-header">
		<div mat-card-avatar class=""></div>
		<mat-card-title>Hot deal</mat-card-title>
		<mat-card-subtitle>This week only</mat-card-subtitle>
	</mat-card-header>
	<img mat-card-image
		src="https://i.picsum.photos/id/1019/5472/3648.jpg?hmac=2mFzeV1mPbDvR0WmuOWSiW61mf9DDEVPDL0RVvg1HPs"
		alt="Photo of a Shiba Inu">
</mat-card>

<mat-grid-list cols="3" rowHeight="2:1">
	<mat-grid-tile>
		<mat-list role="list">
			<mat-list-item role="listitem" class="list-item">About</mat-list-item>
			<mat-list-item role="listitem" class="list-item">How Adventure Life Works</mat-list-item>
			<mat-list-item role="listitem" class="list-item">Newsroom</mat-list-item>
		</mat-list>
	</mat-grid-tile>
	<mat-grid-tile>
		<mat-list role="list">
			<mat-list-item role="listitem" class="list-item">Community</mat-list-item>
			<mat-list-item role="listitem" class="list-item">Invite friends</mat-list-item>
			<mat-list-item role="listitem" class="list-item">Accessibility</mat-list-item>
		</mat-list>
	</mat-grid-tile>
	<mat-grid-tile>
		<mat-list role="list">
			<mat-list-item role="listitem" class="list-item">Support</mat-list-item>
			<mat-list-item role="listitem" class="list-item">Help center</mat-list-item>
			<mat-list-item role="listitem" class="list-item">Trust and safety</mat-list-item>
		</mat-list>
	</mat-grid-tile>
</mat-grid-list>